.nav-fullrow {
    width: 100%;
    text-align: left;
    padding: 5px;
}

#nav-button {
    position: absolute;
    left: 5px;
    top: 5px;
}

.bg-coral {
    background-color: #ff7f50;
}

.bg-lightgray {
    background-color: rgb(158,158,158);
}

.bg-indigo {
    background-color: rgb(63,81,181);
}

md-sidenav.md-locked-open {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
}

#img-storycloud {
    margin: 30px auto;
    width: 200px;
    height: 100px;
}