#css-app-container {
    padding-top: 10px;
}

#checkbox-prompt {
    margin-left: 15px;
}

.md-checked + #boxes-container > .box-container  > .box{
    color: #800000;
    background-color: #CCC;
    margin: 0 auto;
}

.box {
    color: #CCCCCC;
    background-color: #800000;
    opacity: 0;
}

@media (max-width: 599px) {
    html { font-size: 1.2rem }
}

.box-container {
    height: 100px;
    text-align: center;
    padding: 5px;
}

.box-container {
    line-height: 90px;
}

body {
    font-family: montserrat, sans-serif;
}