/**
 * Created by octavioroscioli on 6/1/15.
 */

/* SEARCH */

#search {
    margin: 40px auto;
    text-align: center;
}

#search-form {
    margin: 20px auto;
}

/* CARD */

#search-input {
    margin-right: 2px;
}

.card-content {
    min-width: 300px;
    background-color: #fffaf0;
}

.repo-name {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.counter {
    display: inline-block;
    padding: 2px 5px;
    font-size: 11px;
    font-weight: bold;
    line-height: 1;
    color: #777;
    background-color: #eee;
    border-radius: 20px;
    vertical-align: text-top;
}

.label-language {
    color: #888;
    text-align: right;
    font-size: .8em;
}

/* GENERAL STYLES */

h1 {
    margin-top: 15px;
    font-size: 4em;
}

.italic {
    font-style: italic;
}

.right {
    text-align: right;
}

.grey {
    color: #888;
}

.bold {
    font-weight: bold;
}

/* LOADER */

.github-loader {
    display: block;
    text-align: center;
    height: 56px;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 1000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 1000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}