<div layout="row" ng-controller="SidenavCtrl" >
    <md-sidenav md-component-id="left" class="md-sidenav-left md-whiteframe-z2 bg-indigo"
                md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
        <div layout="column">
            <md-toolbar class="md-theme-indigo">
                <img id="img-storycloud" src="assets/storycloud.png">
            </md-toolbar>
            <md-content>
                <div ng-class="{'bg-lightgray' : !isCssPage()}">
                    <md-button ng-click="closeAndRoute('js')" class="nav-fullrow">
                        <span>Javascript portion</span>
                    </md-button>
                </div>
                <div ng-class="{'bg-lightgray' : isCssPage()}">
                    <md-button ng-click="closeAndRoute('css')" class="nav-fullrow">
                        <span>CSS portion</span>
                    </md-button>
                </div>
                <md-button ng-click="close()" class="md-primary nav-fullrow" hide-gt-sm>
                    <span>Close</span>
                </md-button>
            </md-content>
        </div>
    </md-sidenav>
    <md-content id="nav-button" class="{{!isCssPage() ? 'bg-coral' : ''}}">
        <md-button ng-click="openLeftMenu()" id="nav-toggle" aria-label="Nav menu"
                   class="md-fab md-primary md-default-theme" hide-gt-sm>
            <i class="fa fa-bars"></i>
        </md-button>
    </md-content>
</div>