<div ng-app="cssApp" id="css-app-container">
    <div ng-app="cssApp" ng-controller="boxesCtrl">
        <div class="text-center"><h1>Little Boxes</h1></div>
        <div id="checkbox-prompt" style="display: inline-block">Click to toggle </div>
        <md-checkbox type="checkbox" id="checkbox" ng-click="animate()" aria-label="Toggle boxes"
                     style="display: inline-block"></md-checkbox>
        <div id="boxes-container" layout-sm="column" layout-gt-sm="row" layout-wrap class="text-center">
            <div flex-sm="100" flex-md="33" flex-gt-md="50" class="box-container"
                 ng-repeat="i in getNumber(number) track by $index">
                <div class="box">StoryCloud</div>
            </div>
        </div>
    </div>
</div>