<div ng-app="jsApp">
    <div ng-controller="searchCtrl" layout="column">
        <div style="color: #f0f8ff;" class="bg-coral">
            <div id="search" layout="column">
                <div id="loader">
                    <a href="https://www.github.com" target="_blank">
                        <span ng-class="{'github-loader' : loading}">
                            <i class="fa fa-github fa-4x" style="color: #2f4f4f"></i>
                        </span>
                    </a>
                </div>
                <h1>Github search</h1>
                <div layout="row">
                    <form ng-submit="search(query)" flex="60" offset="20" class="form-inline" id="search-form">
                        <div layout="row">
                            <input type="text" ng-model="query"  class="form-control" id="search-input"
                                   placeholder="Search Github repositories" flex="90">
                            <div flex class="right">
                                <button type="submit" class="btn btn-primary" ng-disabled="loading">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div layout="row"></div>

        <div layout="row">
            <div layout="column" flex="100" id="results">
                <!--https://github.com/angular/material/issues/580-->
                <md-content>
                    <md-content style="height: 600px;" id="scrollable">
                        <section ng-repeat="repo in getReposForPage()" layout="column">
                            <!--https://github.com/angular/material/issues/1647-->
                            <!--<section style="position: relative">-->
                                <md-subheader class="md-primary text-right" layout="row">
                                    <a href="//github.com/{{repo.owner}}" flex="80">{{repo.owner}}</a>
                                    <div flex="20"></div>
                                </md-subheader>
                            <!--</section>-->
                            <md-list>
                                <md-list-item>
                                    <md-content class="md-padding">
                                        <md-card layout="row">
                                            <md-card-content class="card-content">
                                                <div layout="row">
                                                    <a href="{{repo.url}}" flex>
                                                        <div class="bold repo-name" style="white-space: nowrap;">
                                                            {{repo.name}}
                                                        </div>
                                                    </a>
                                                    <div class="label-language" flex>{{repo.language || '-'}}</div>
                                                </div>
                                                <p ng-if="repo.homepage">
                                                    <a href="{{repo.homepage}}">{{repo.homepage}}</a>
                                                </p>
                                                <span class="italic">
                                                    {{repo.description || 'No description.'}}
                                                </span>
                                                <div layout="row" style="margin-top: 10px">
                                                    <p>
                                                        <span class="grey" ng-if="repo.open_issues === 0">
                                                            No issues
                                                        </span>
                                                        <span ng-show="repo.open_issues !== 0">
                                                            <i class="fa fa-exclamation-circle"></i>
                                                            <a href="{{repo.url + '/issues'}}">
                                                                <span> Open issues
                                                                    <span class="counter">{{repo.open_issues}}</span>
                                                                </span>
                                                            </a>
                                                        </span>
                                                    </p>
                                                    <p class="right" flex>
                                                        <i class="fa fa-code-fork"></i>
                                                        <span class="right wordlength"> Forks </span>
                                                        <span class="counter">{{repo.forks}}</span>
                                                    </p>
                                                </div>
                                            </md-card-content>
                                        </md-card>
                                    </md-content>
                                </md-list-item>
                            </md-list>
                        </section>
                    </md-content>
                </md-content>
            </div>
        </div>

        <div layout="row">
            <pagination total-items="repos.length" items-per-page="pagination.itemsPerPage" flex offset="20"
                        ng-model="pagination.currentPage" ng-if="showPagination()" target="#scrollable"></pagination>
        </div>
    </div>
</div>